<header>
  <img src="assets/images/cabeçario.jpg" alt="Cabeçalho">
</header>

<div class="content">
<div>
  <h1>Home Culture School | Fale Ingles</h1>
  <p>
    Venha aprender inglês conosco em um ambiente familiar e acolhedor!
  </p>
</div>
<div class="card">
    <div class="card-head">
    </div>
    <div class="card-body">
      <h1 class="elementor-heading-title elementor-size-default">VENHA PARA <br></h1>
      <h1>Home Culture School | Fale Ingles</h1>
      <p>
        Venha aprender inglês conosco em um ambiente familiar e acolhedor!
      </p>
    </div>
    <img src="assets/images/contato.jpg" alt="Cabeçalho">
    <img src="assets/images/meio.jpg" alt="Cabeçalho">

</div>
</div>
