<h1>Faça uma aula grátis!</h1>

  <p>
    Venha aprender inglês conosco em um ambiente familiar e acolhedor!
  </p>

<div style="display: flex; gap: 50px;">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Outro Ambiente</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="\assets\images\sala2.jpg" alt="Photo of a Shiba Inu">

  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>

    </mat-card-header>
    <img mat-card-image src="\assets\images\sala4.jpg" alt="Photo of a Shiba Inu">
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Nosso Ambiente</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="\assets\images\sala.jpg" alt="Photo of a Shiba Inu">
  </mat-card>

</div>


